{
 ;; we have to copy over the Maven repos used for the Athena and Redshift drivers to here as well -- this is
 ;; apparently done on purpose, as a security thing. See
 ;; https://ask.clojure.org/index.php/10726/deps-manifest-dependencies-respect-repos-dependent-project
 :mvn/repos
 {"metabase-maven-downloads" {:url "https://s3.amazonaws.com/metabase-maven-downloads"}
  "redshift" {:url "https://s3.amazonaws.com/redshift-maven-repository/release"}}

 :deps
 {;; < STRATIO - remove athena and databricks drivers, they have dependencies with vulnerabilities
  ;; metabase/athena             {:local/root "athena"}
  ;; STRATIO >
  metabase/bigquery-cloud-sdk {:local/root "bigquery-cloud-sdk"}
  ;; < STRATIO - remove clickhouse driver due to vulnerabilities: httpclient5 5.3.1 (CVE-2026-64607),
  ;; httpcore5 5.2.4 (CVE-2026-54399) and httpcore5-h2 5.2.4 (CVE-2026-54428), pulled by clickhouse-jdbc 0.8.4
  ;; metabase/clickhouse         {:local/root "clickhouse"}
  ;; STRATIO >
  ;; < STRATIO - remove athena and databricks drivers, they have dependencies with vulnerabilities
  ;; metabase/databricks         {:local/root "databricks"}
  ;; STRATIO >
  metabase/druid              {:local/root "druid"}
  metabase/druid-jdbc         {:local/root "druid-jdbc"}
  metabase/hive-like          {:local/root "hive-like"}
  metabase/mongo              {:local/root "mongo"}
  metabase/oracle             {:local/root "oracle"}
  metabase/presto-jdbc        {:local/root "presto-jdbc"}
  metabase/redshift           {:local/root "redshift"}
  metabase/snowflake          {:local/root "snowflake"}
  metabase/sparksql           {:local/root "sparksql"}
  metabase/sqlite             {:local/root "sqlite"}
  metabase/sqlserver          {:local/root "sqlserver"}
  metabase/starburst          {:local/root "starburst"}
  metabase/vertica            {:local/root "vertica"}}}
